<p>
  Over the past 2 weeks, how often have you been bothered by any of the following problems?
</p>

<%= form_with(url: depression_screener_check_in_path(@check_in), local: true ) do |form| %>
  <ol>
    <li>
      Little interest or pleasure in doing things?
      <div>
        <%= form.radio_button 'response[0]', '0', { checked: true } %>
        <%= form.label 'response[0]_0', 'Not at all' %><br>

        <%= form.radio_button 'response[0]', '1' %>
        <%= form.label 'response[0]_1', 'Several days' %><br>

        <%= form.radio_button 'response[0]', '2' %>
        <%= form.label 'response[0]_2', 'More than half the days' %><br>

        <%= form.radio_button 'response[0]', '3' %>
        <%= form.label 'response[0]_3', 'Nearly every day' %>
      </div>
    </li>

    <li>
      Feeling down, depressed or hopeless?
      <div>
        <%= form.radio_button 'response[1]', '0', { checked: true } %>
        <%= form.label 'response[1]_0', 'Not at all' %><br>

        <%= form.radio_button 'response[1]', '1' %>
        <%= form.label 'response[1]_1', 'Several days' %><br>

        <%= form.radio_button 'response[1]', '2' %>
        <%= form.label 'response[1]_2', 'More than half the days' %><br>

        <%= form.radio_button 'response[1]', '3' %>
        <%= form.label 'response[1]_3', 'Nearly every day' %>
      </div>
    </li>
  </ol>

  <%= form.submit 'Continue' %>
<% end %>
