<h1 class="text-center my-4">PHQ-2 Check-In</h1>
<h2 class="text-center my-4">Over the past 2 weeks, how often have you been bothered by any of the following problems?</h2>

<div class="container">
  <%= form_with model: @check_in, url: check_ins_path, local: true, html: { class: 'needs-validation' } do |f| %>
    <%= f.hidden_field :patient_id, value: 1 %> 
    <% @questions.each_with_index do |question, index| %>
      <div class="mb-4">
        <b><%= index + 1 %>) <%= f.label "check_in[answers_attributes][#{index}][question_id]", question.title, class: "form-label" %></b>
        <%= f.hidden_field "answers_attributes[#{index}][question_id]", value: question.id %>
        <div class="form-check">
          <%= f.radio_button "answers_attributes[#{index}][title]", 'Not at all', class: 'form-check-input', id: "question_#{index + 1}_0" %>
          <label class="form-check-label" for="question_#{index + 1}_0">Not at all</label>
        </div>
        <div class="form-check">
          <%= f.radio_button "answers_attributes[#{index}][title]", 'Several days', class: 'form-check-input', id: "question_#{index + 1}_1" %>
          <label class="form-check-label" for="question_#{index + 1}_1">Several days</label>
        </div>
        <div class="form-check">
          <%= f.radio_button "answers_attributes[#{index}][title]", 'More than half the days', class: 'form-check-input', id: "question_#{index + 1}_2" %>
          <label class="form-check-label" for="question_#{index + 1}_2">More than half the days</label>
        </div>
        <div class="form-check">
          <%= f.radio_button "answers_attributes[#{index}][title]", 'Nearly every day', class: 'form-check-input', id: "question_#{index + 1}_3" %>
          <label class="form-check-label" for="question_#{index + 1}_3">Nearly every day</label>
        </div>
      </div>
    <% end %>

    <div class="d-grid gap-2">
      <%= f.submit "Complete check in", class: "btn btn-primary btn-lg" %>
    </div>
  <% end %>
</div>
